[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-resources = "*"
ipdb = "*"
faker = "*"
jsonify = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
gunicorn = "*"
honcho = "*"
flask_bcrypt = '*'
pyyaml = "*"
Werkzeug = "2.2.2"

[requires]
python_full_version = "3.8.13"
